/* GRILLE DES PIÉCES */

#grille_pieces { /* */
	display: flex;
	/*justify-content:center;*/
	align-items: center;/* */
	flex-wrap: wrap;
	word-wrap : break-word;
	border:2px solid red; /* ROUGE */
	/*margin-right:2em;
	margin-left:2em;
	margin-top:1em;
	margin-bottom:1em;
	width: 100em;*/

}

#grille_pieces a {/* */
	text-decoration: none;
	border: 2px solid black;
	border-radius: 20px;
	padding-left:2.5em;/* */
	padding-right: 2.5em;/* */
	margin-right : 1em;/* */
	margin-left:1em;/* */
	height: 8em;
	text-align: center;
	color: black;
	width : 7em;
	display : flex;
	align-items: center;
	justify-content: center;
	background-color: #427396;
}

#piece_grille {

}