/*body {
    width: 50%;
    margin: auto;
}*/

p {
    text-align: center;
}

.titre_aside {
    color: #ffffff;
    text-align: center;
}

input[type="range"] {
    position: relative;
    margin-left: 1em;
}

input[type="range"]:after, input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}

input[type="range"]:before {
    left:0em;
    content: attr(min);
}

input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

.temperature {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.cadre {
    border: 1px #fff solid;
    width: 30%;
    margin: auto;
}

.onoffswitch {
    margin: auto;
    position: relative; width: 89px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 26px;
}

.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 37px; padding: 0; line-height: 37px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "ON";
    padding-left: 13px;
    background-color: #359AD8; color: #FFFFFF;
}

.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 13px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; width: 37px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 48px;
    border: 2px solid #999999; border-radius: 26px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
